{% trans %}welcome{% endtrans %} {{ user }}<br/>
{% trans %}this email was sent to allow you to change your password visit the next link to change it{% endtrans %} <a href="{{ url('user_change_password', {'confirmationCode': user.confirmationCode, 'email': user.email}) }}">{% trans %}Edit Account{% endtrans %}</a>